.admin-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .admin-login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .admin-login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .admin-login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;

  }
  
  .admin-login-form button {
    width: 100%;
    padding: 12px;
    background-color: #8b5c33;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0px;
    
  }
  
  .admin-login-form button:hover {
    background-color: #754525;
  }
  
  